body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    background-color: #2d2d2d;
    padding: 20px;
}

.container {
    max-width: 300px;
    margin: 0 auto;
}

.block {
    margin-bottom: 20px;
}

hr {
    border: 0;
    border-top: 1px solid #444;
    margin: 20px 0;
}

h1, h2 {
    color: #61dafb;
    margin-bottom: 10px;
}

p {
    font-size: 0.9em;
}

hr {
    size: 3px;
    color: #d6d6d6;
}

.action-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color: #3e3e3e;
    color: #61dafb;
    border: none;
    text-align: left;
    cursor: pointer;
}

.action-button:hover {
    background-color: #505050;
}

.menu-bar {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #2d2d2d;
    border-radius: 5px;
}

.menu-item {
    margin: 0 10px;
    color: #ffffff;
    cursor: pointer;   
}
.menu-title {
    flex-grow: 1;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.icon{
    width: 8px;
    height: 8px;
}
#userInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #3e3e3e;
    text-align: left;
    color: #ffffff;
}
