:root {
    --main-btn-color: #007bff;
    --main-btn-color-hover: #0056b3;
    --main-white: white;
    --main-black: black;
    --main-grey: #212529;
    --main-yellow: #e28743;
    --main-red: #aa1115;
}

.navbar-logo {
    height: 36px;
    width: 36px;
}
.intro-section{
    font-size: 1.7rem;
    line-height: 1.7;
    margin-bottom: 30px;
}
.btn-custom {
    background-color: var(--main-btn-color);
    color: var(--main-white);
    padding: 10px 20px;
    font-size: 1.1rem;
    border-radius: 50px;
    text-transform: uppercase;
}
.btn-custom:hover{
    background: var(--main-btn-color-hover);
}
body{
    background-color: var(--main-grey);
    color: white;
    margin: 0;
    padding: 0;
}
.square{
    background-color: var(--main-black);
    border: 1px solid var(--main-btn-color);
    padding: 10px;
    text-align: center;
    border-radius: 15px;
}
.square-waiting{
    background-color: var(--main-black);
    border: 1px solir var(--main-yellow);
    padding: 10px;
    text-align: center;
    border-radius: 15px;
}
.square-error {
    background-color: var(--main-black);
    border: 1px solid var(--main-red);
    padding: 10px;
    text-align: center;
    border-radius: 15px;
}
.input-group{
    margin-bottom: 20px;
}


#chat-input{
    resize: none;
    overflow-y: auto;
    max-height: calc(1.5em * 5);
    transition: height 0.2s ease;
}
#upload-btn { /** Con esto hacemos que el botón feo no se muestre */
    display: none;
}
#custom-upload-btn {
    display: inline-block;
    background-color: #6c757d;
    color: white;
    padding: 0.375rem 0.75rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s;
}
#custom-upload-btn:hover {
    background-color: #5a6268;
}

/* Botón en estado de eliminar */
#custom-upload-btn.remove-mode {
    background-color: red;
}

/* Hover para el botón en estado de eliminar */
#custom-upload-btn.remove-mode:hover {
    background-color: darkred;
}
#div-waiting img {
    width: 50px;
    animation: rotate 4s linear infinite;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}