:root {
    --main-btn-color: #007bff;
    --main-btn-color-hover: #0056b3;
    --main-white: white;
    --main-black: black;
    --main-grey: #212529;
}

.navbar-logo {
    height: 36px;
    width: 36px;
}
.intro-section{
    font-size: 1.7rem;
    line-height: 1.7;
    margin-bottom: 30px;
}
.btn-custom {
    background-color: var(--main-btn-color);
    color: var(--main-white);
    padding: 10px 20px;
    font-size: 1.1rem;
    border-radius: 50px;
    text-transform: uppercase;
}
.btn-custom:hover{
    background: var(--main-btn-color-hover);
}
body{
    background-color: var(--main-grey);
    color: white;
    margin: 0;
    padding: 0;
}
.square{
    background-color: var(--main-black);
    border: 1px solid var(--main-btn-color);
    padding: 10px;
    text-align: center;
    border-radius: 15px;
}